.ChatNavBarHeader {
    background-color:#D50032;
    max-width: 500px;
    padding:10px;
    min-width:300px;
    height:75px;
}

.ChatsList {
    height:540px;
    border-style: solid;
    border-right:none;
    border-color: whitesmoke;
    background-color: whitesmoke;
    overflow-y: auto;
}